body, html{
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Montserrat', sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
.main-title{
  text-align: center;
  color: #009900;
}

#cuadro-presencias {
  padding: 20px;
  display: inline-block;
  position: relative;
  top: 60px;
  left: 120px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.day {
  text-align: center;
  background: #eee;
  border-radius: 2px;
}


#workers {
  display: block;
  margin: auto;
}
